.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

#SpeedDialtooltipexample-actions {
    position: absolute;
    top: 58px;
}

.Mui-selected {
    color: tomato;
    font-weight: 600;
}
.Mui-selected > svg {
    color: tomato;
}